/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .toplevel_page_catcwp-settings .csf-repeater-item {
    margin-bottom: 30px !important;
    border: 0px solid #111 !important; 
 }
 .toplevel_page_catcwp-settings .csf-sections {
    background-color: #111 !important;
 }